@import '~bootstrap/dist/css/bootstrap.min.css';

.Counter {
    text-align: center;
    background: black;
}
  
 .Counter div {
    display: inline-block;
    font-size: 80px;
    line-height: 80px;
    background: #101010;
    color: white;
    padding: 15px;
    margin: 4px;
  }